In [1]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor

import pandas as pd
import numpy as np

import pickle

In [4]:
## read the file

df=pd.read_csv('newdata.csv')
df

       Unnamed: 0        date  hour holiday  weekday  count
0               0  2018-01-01     0      No   Monday     34
1               1  2018-01-01     1      No   Monday     49
2               2  2018-01-01     2      No   Monday     37
3               3  2018-01-01     3      No   Monday      9
4               4  2018-01-01     4      No   Monday     12
...           ...         ...   ...     ...      ...    ...
17492       17492  2019-12-31    19      No  Tuesday    180
17493       17493  2019-12-31    20      No  Tuesday    135
17494       17494  2019-12-31    21      No  Tuesday    111
17495       17495  2019-12-31    22      No  Tuesday     80
17496       17496  2019-12-31    23      No  Tuesday    107

[17497 rows x 6 columns]

In [7]:
df = df[['hour','holiday', 'weekday','count']]

In [9]:
df.holiday = df.holiday.astype('category')
df.weekday = df.weekday.astype('category')

In [16]:
df = pd.get_dummies(df)

In [11]:
## modelling

x = df.drop(columns = ['count'])
y = df['count']

In [12]:
ada = AdaBoostRegressor()

In [13]:
ada.fit(x,y)

AdaBoostRegressor()

In [14]:
pickle.dump(ada, open('model.pkl','wb'))