In [28]:
import pandas as pd
import numpy as np
import statistics as st
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from collections import Counter
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from pylab import savefig
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import plot_tree
import datetime
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from sklearn.linear_model import LinearRegression
import pickle

from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor

In [29]:
jan2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202001-capitalbikeshare-tripdata.csv")
feb2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202002-capitalbikeshare-tripdata.csv")
mar2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202003-capitalbikeshare-tripdata.csv")
apr2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202004-capitalbikeshare-tripdata.csv")
may2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202005-capitalbikeshare-tripdata.csv")
jun2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202006-capitalbikeshare-tripdata.csv")
jul2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202007-capitalbikeshare-tripdata.csv")
aug2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202008-capitalbikeshare-tripdata.csv")
sep2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202009-capitalbikeshare-tripdata.csv")
oct2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202010-capitalbikeshare-tripdata.csv")
nov2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202011-capitalbikeshare-tripdata.csv")
dec2020 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\2020\202012-capitalbikeshare-tripdata.csv")
jan2019 = pd.read_csv(r"C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201901-capitalbikeshare-tripdata\201901-capitalbikeshare-tripdata.csv")
feb2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201902-capitalbikeshare-tripdata\201902-capitalbikeshare-tripdata.csv')
mar2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201903-capitalbikeshare-tripdata\201903-capitalbikeshare-tripdata.csv')
apr2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201904-capitalbikeshare-tripdata\201904-capitalbikeshare-tripdata.csv')
may2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201905-capitalbikeshare-tripdata\201905-capitalbikeshare-tripdata.csv')
jun2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201906-capitalbikeshare-tripdata\201906-capitalbikeshare-tripdata.csv')
jul2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201907-capitalbikeshare-tripdata\201907-capitalbikeshare-tripdata')
aug2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201908-capitalbikeshare-tripdata\201908-capitalbikeshare-tripdata.csv')
sep2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201909-capitalbikeshare-tripdata\201909-capitalbikeshare-tripdata.csv')
oct2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201910-capitalbikeshare-tripdata\201910-capitalbikeshare-tripdata.csv')
nov2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201911-capitalbikeshare-tripdata\201911-capitalbikeshare-tripdata.csv')
dec2019 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201912-capitalbikeshare-tripdata\201912-capitalbikeshare-tripdata.csv')
jan2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201801-capitalbikeshare-tripdata\201801_capitalbikeshare_tripdata.csv')
feb2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201802-capitalbikeshare-tripdata\201802-capitalbikeshare-tripdata.csv')
mar2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201803-capitalbikeshare-tripdata\201803-capitalbikeshare-tripdata.csv')
apr2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201804-capitalbikeshare-tripdata\201804-capitalbikeshare-tripdata.csv')
may2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201805-capitalbikeshare-tripdata\201805-capitalbikeshare-tripdata.csv')
jun2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201806-capitalbikeshare-tripdata\201806-capitalbikeshare-tripdata.csv')
jul2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201807-capitalbikeshare-tripdata\201807-capitalbikeshare-tripdata.csv')
aug2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201808-capitalbikeshare-tripdata\201808-capitalbikeshare-tripdata.csv')
sep2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201809-capitalbikeshare-tripdata\201809-capitalbikeshare-tripdata.csv')
oct2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201810-capitalbikeshare-tripdata\201810-capitalbikeshare-tripdata.csv')
nov2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201811-capitalbikeshare-tripdata\201811-capitalbikeshare-tripdata.csv')
dec2018 = pd.read_csv(r'C:\Users\anupd\OneDrive\Desktop\Capital Bikeshare\capitalbikeshare\201812-capitalbikeshare-tripdata\201812-capitalbikeshare-tripdata.csv')

In [30]:
month_edit = pd.concat([apr2020,may2020,jun2020,jul2020,aug2020,sep2020,oct2020,nov2020,dec2020], axis=0)

In [31]:
month_edit

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,574D7036265F871A,docked_bike,2020-04-06 16:14:44,2020-04-06 16:21:11,25th St & Pennsylvania Ave NW,31237.0,20th & E St NW,31204.0,38.903827,-77.053485,38.896300,-77.045000,member
1,599129C4D2E63705,docked_bike,2020-04-07 13:23:05,2020-04-07 13:28:05,25th St & Pennsylvania Ave NW,31237.0,22nd & I St NW / Foggy Bottom,31257.0,38.903827,-77.053485,38.900880,-77.048911,member
2,51968E3A179DF45D,docked_bike,2020-04-07 14:26:56,2020-04-07 14:33:25,25th St & Pennsylvania Ave NW,31237.0,34th & Water St NW,31314.0,38.903827,-77.053485,38.903663,-77.067668,member
3,650C7B5CB2C47427,docked_bike,2020-04-12 10:31:41,2020-04-12 10:37:57,25th St & Pennsylvania Ave NW,31237.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.903827,-77.053485,38.910100,-77.044400,member
4,87F521FD335DDE6F,docked_bike,2020-04-05 11:35:20,2020-04-05 11:42:09,25th St & Pennsylvania Ave NW,31237.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.903827,-77.053485,38.910100,-77.044400,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105824,A10ED3D50E5AB612,docked_bike,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,31247.0,19th St & Constitution Ave NW,31235.0,38.888553,-77.032427,38.892300,-77.043600,casual
105825,F146CC9669ABF5EC,docked_bike,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,31247.0,4th St & Madison Dr NW,31288.0,38.888553,-77.032427,38.890496,-77.017247,casual
105826,614005BC98FE93F7,docked_bike,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,31247.0,19th St & Constitution Ave NW,31235.0,38.888552,-77.032427,38.892300,-77.043600,casual
105827,86783BF38F4567FA,docked_bike,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,31247.0,17th & G St NW,31277.0,38.888553,-77.032427,38.898283,-77.039732,casual
105828,A7F61D67643CB526,classic_bike,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,31275.0,4th St & Madison Dr NW,31288.0,38.901755,-77.051084,38.890496,-77.017246,member

In [32]:
month_edit['started_at'] = pd.to_datetime(month_edit['started_at'])
month_edit['ended_at'] = pd.to_datetime(month_edit['ended_at'])

In [33]:
month_edit['diff'] = month_edit['ended_at'] - month_edit['started_at']

In [34]:
month_edit.dtypes

ride_id                        object
rideable_type                  object
started_at             datetime64[ns]
ended_at               datetime64[ns]
start_station_name             object
start_station_id              float64
end_station_name               object
end_station_id                float64
start_lat                     float64
start_lng                     float64
end_lat                       float64
end_lng                       float64
member_casual                  object
diff                  timedelta64[ns]
dtype: object

In [35]:
month_edit

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,diff
0,574D7036265F871A,docked_bike,2020-04-06 16:14:44,2020-04-06 16:21:11,25th St & Pennsylvania Ave NW,31237.0,20th & E St NW,31204.0,38.903827,-77.053485,38.896300,-77.045000,member,0 days 00:06:27
1,599129C4D2E63705,docked_bike,2020-04-07 13:23:05,2020-04-07 13:28:05,25th St & Pennsylvania Ave NW,31237.0,22nd & I St NW / Foggy Bottom,31257.0,38.903827,-77.053485,38.900880,-77.048911,member,0 days 00:05:00
2,51968E3A179DF45D,docked_bike,2020-04-07 14:26:56,2020-04-07 14:33:25,25th St & Pennsylvania Ave NW,31237.0,34th & Water St NW,31314.0,38.903827,-77.053485,38.903663,-77.067668,member,0 days 00:06:29
3,650C7B5CB2C47427,docked_bike,2020-04-12 10:31:41,2020-04-12 10:37:57,25th St & Pennsylvania Ave NW,31237.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.903827,-77.053485,38.910100,-77.044400,member,0 days 00:06:16
4,87F521FD335DDE6F,docked_bike,2020-04-05 11:35:20,2020-04-05 11:42:09,25th St & Pennsylvania Ave NW,31237.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.903827,-77.053485,38.910100,-77.044400,member,0 days 00:06:49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105824,A10ED3D50E5AB612,docked_bike,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,31247.0,19th St & Constitution Ave NW,31235.0,38.888553,-77.032427,38.892300,-77.043600,casual,0 days 00:27:07
105825,F146CC9669ABF5EC,docked_bike,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,31247.0,4th St & Madison Dr NW,31288.0,38.888553,-77.032427,38.890496,-77.017247,casual,0 days 00:22:45
105826,614005BC98FE93F7,docked_bike,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,31247.0,19th St & Constitution Ave NW,31235.0,38.888552,-77.032427,38.892300,-77.043600,casual,0 days 00:35:59
105827,86783BF38F4567FA,docked_bike,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,31247.0,17th & G St NW,31277.0,38.888553,-77.032427,38.898283,-77.039732,casual,0 days 00:40:58
105828,A7F61D67643CB526,classic_bike,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,31275.0,4th St & Madison Dr NW,31288.0,38.901755,-77.051084,38.890496,-77.017246,member,0 days 00:14:06

In [36]:
# month_edit.to_csv('apr_dec.csv')

In [37]:
month_edit['diff'] = month_edit['diff'] / np.timedelta64(1, 's')

In [38]:
month_edit

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,diff
0,574D7036265F871A,docked_bike,2020-04-06 16:14:44,2020-04-06 16:21:11,25th St & Pennsylvania Ave NW,31237.0,20th & E St NW,31204.0,38.903827,-77.053485,38.896300,-77.045000,member,387.0
1,599129C4D2E63705,docked_bike,2020-04-07 13:23:05,2020-04-07 13:28:05,25th St & Pennsylvania Ave NW,31237.0,22nd & I St NW / Foggy Bottom,31257.0,38.903827,-77.053485,38.900880,-77.048911,member,300.0
2,51968E3A179DF45D,docked_bike,2020-04-07 14:26:56,2020-04-07 14:33:25,25th St & Pennsylvania Ave NW,31237.0,34th & Water St NW,31314.0,38.903827,-77.053485,38.903663,-77.067668,member,389.0
3,650C7B5CB2C47427,docked_bike,2020-04-12 10:31:41,2020-04-12 10:37:57,25th St & Pennsylvania Ave NW,31237.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.903827,-77.053485,38.910100,-77.044400,member,376.0
4,87F521FD335DDE6F,docked_bike,2020-04-05 11:35:20,2020-04-05 11:42:09,25th St & Pennsylvania Ave NW,31237.0,Massachusetts Ave & Dupont Circle NW,31200.0,38.903827,-77.053485,38.910100,-77.044400,member,409.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105824,A10ED3D50E5AB612,docked_bike,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,31247.0,19th St & Constitution Ave NW,31235.0,38.888553,-77.032427,38.892300,-77.043600,casual,1627.0
105825,F146CC9669ABF5EC,docked_bike,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,31247.0,4th St & Madison Dr NW,31288.0,38.888553,-77.032427,38.890496,-77.017247,casual,1365.0
105826,614005BC98FE93F7,docked_bike,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,31247.0,19th St & Constitution Ave NW,31235.0,38.888552,-77.032427,38.892300,-77.043600,casual,2159.0
105827,86783BF38F4567FA,docked_bike,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,31247.0,17th & G St NW,31277.0,38.888553,-77.032427,38.898283,-77.039732,casual,2458.0
105828,A7F61D67643CB526,classic_bike,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,31275.0,4th St & Madison Dr NW,31288.0,38.901755,-77.051084,38.890496,-77.017246,member,846.0

In [39]:
month_edit.rename(columns= {'started_at': 'Start date', 'ended_at': 'End date','start_station_name': 'Start station', 'end_station_name': 'End station', 'member_casual':'Member type', 'diff': 'Duration'},inplace=True)

In [40]:
month_edit = month_edit[['Duration','Start date', 'End date','Start station', 'End station','Member type']]

In [41]:
month_edit

,Duration,Start date,End date,Start station,End station,Member type
0,387.0,2020-04-06 16:14:44,2020-04-06 16:21:11,25th St & Pennsylvania Ave NW,20th & E St NW,member
1,300.0,2020-04-07 13:23:05,2020-04-07 13:28:05,25th St & Pennsylvania Ave NW,22nd & I St NW / Foggy Bottom,member
2,389.0,2020-04-07 14:26:56,2020-04-07 14:33:25,25th St & Pennsylvania Ave NW,34th & Water St NW,member
3,376.0,2020-04-12 10:31:41,2020-04-12 10:37:57,25th St & Pennsylvania Ave NW,Massachusetts Ave & Dupont Circle NW,member
4,409.0,2020-04-05 11:35:20,2020-04-05 11:42:09,25th St & Pennsylvania Ave NW,Massachusetts Ave & Dupont Circle NW,member
...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member

In [42]:
month_edit.dtypes

Duration                float64
Start date       datetime64[ns]
End date         datetime64[ns]
Start station            object
End station              object
Member type              object
dtype: object

In [43]:
month_edit

,Duration,Start date,End date,Start station,End station,Member type
0,387.0,2020-04-06 16:14:44,2020-04-06 16:21:11,25th St & Pennsylvania Ave NW,20th & E St NW,member
1,300.0,2020-04-07 13:23:05,2020-04-07 13:28:05,25th St & Pennsylvania Ave NW,22nd & I St NW / Foggy Bottom,member
2,389.0,2020-04-07 14:26:56,2020-04-07 14:33:25,25th St & Pennsylvania Ave NW,34th & Water St NW,member
3,376.0,2020-04-12 10:31:41,2020-04-12 10:37:57,25th St & Pennsylvania Ave NW,Massachusetts Ave & Dupont Circle NW,member
4,409.0,2020-04-05 11:35:20,2020-04-05 11:42:09,25th St & Pennsylvania Ave NW,Massachusetts Ave & Dupont Circle NW,member
...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member

In [44]:
# m=(month_edit.dtypes=='float')
# month_edit.loc[:,m]=month_edit.loc[:,m].astype(int)

In [45]:
rest_all = pd.concat([jan2018,feb2018,mar2018,apr2018,may2018,jun2018,jul2018,aug2018,sep2018,oct2018,nov2018,dec2018,jan2019,feb2019,mar2019,apr2019,may2019,jun2019,jul2019,aug2019,sep2019,oct2019,nov2019,dec2019,jan2020,feb2020,mar2020], axis=0)

In [46]:
rest_all

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,552,2018-01-01 00:05:06,2018-01-01 00:14:18,31104,Adams Mill & Columbia Rd NW,31400,Georgia & New Hampshire Ave NW,W00886,Member
1,1282,2018-01-01 00:14:30,2018-01-01 00:35:53,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W01435,Casual
2,1265,2018-01-01 00:14:53,2018-01-01 00:35:58,31321,15th St & Constitution Ave NW,31321,15th St & Constitution Ave NW,W21242,Casual
3,578,2018-01-01 00:15:31,2018-01-01 00:25:09,31406,14th & Upshur St NW,31103,16th & Harvard St NW,W21322,Casual
4,372,2018-01-01 00:18:02,2018-01-01 00:24:15,31618,4th & East Capitol St NE,31619,Lincoln Park / 13th & East Capitol St NE,W00119,Member
...,...,...,...,...,...,...,...,...,...
162525,673,2020-03-31 23:17:58,2020-03-31 23:29:12,31235,19th St & Constitution Ave NW,31265,5th St & Massachusetts Ave NW,W22920,Member
162526,514,2020-03-31 23:18:13,2020-03-31 23:26:47,31203,14th & Rhode Island Ave NW,31324,18th & New Hampshire Ave NW,21054,Member
162527,1524,2020-03-31 23:29:00,2020-03-31 23:54:25,31110,20th St & Florida Ave NW,31403,5th & Kennedy St NW,W24341,Member
162528,565,2020-03-31 23:41:17,2020-03-31 23:50:43,31603,1st & M St NE,31256,10th & E St NW,W22691,Member
162529,1054,2020-03-31 23:45:05,2020-04-01 00:02:40,31325,Reservoir Rd & 38th St NW,31214,17th & Corcoran St NW,W24051,Member

In [47]:
rest_all = rest_all[['Duration','Start date', 'End date','Start station', 'End station','Member type', 'Bike number']]
rest_all

,Duration,Start date,End date,Start station,End station,Member type,Bike number
0,552,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886
1,1282,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435
2,1265,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242
3,578,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322
4,372,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119
...,...,...,...,...,...,...,...
162525,673,2020-03-31 23:17:58,2020-03-31 23:29:12,19th St & Constitution Ave NW,5th St & Massachusetts Ave NW,Member,W22920
162526,514,2020-03-31 23:18:13,2020-03-31 23:26:47,14th & Rhode Island Ave NW,18th & New Hampshire Ave NW,Member,21054
162527,1524,2020-03-31 23:29:00,2020-03-31 23:54:25,20th St & Florida Ave NW,5th & Kennedy St NW,Member,W24341
162528,565,2020-03-31 23:41:17,2020-03-31 23:50:43,1st & M St NE,10th & E St NW,Member,W22691
162529,1054,2020-03-31 23:45:05,2020-04-01 00:02:40,Reservoir Rd & 38th St NW,17th & Corcoran St NW,Member,W24051

In [48]:
final = pd.concat([rest_all,month_edit], axis=0)
final

,Duration,Start date,End date,Start station,End station,Member type,Bike number
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119
...,...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN

In [49]:
final['Start date'] = pd.to_datetime(final['Start date'])

final['date'] = final['Start date'].dt.date

final['time'] = final['Start date'].dt.time
final

,Duration,Start date,End date,Start station,End station,Member type,Bike number,date,time
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886,2018-01-01,00:05:06
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435,2018-01-01,00:14:30
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242,2018-01-01,00:14:53
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322,2018-01-01,00:15:31
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119,2018-01-01,00:18:02
...,...,...,...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-12,13:49:55
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN,2020-12-03,13:43:26
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-06,07:27:47
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN,2020-12-21,13:46:01
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN,2020-12-18,09:09:48

In [50]:
final['month'] = final['Start date'].dt.month
final

,Duration,Start date,End date,Start station,End station,Member type,Bike number,date,time,month
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886,2018-01-01,00:05:06,1
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435,2018-01-01,00:14:30,1
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242,2018-01-01,00:14:53,1
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322,2018-01-01,00:15:31,1
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119,2018-01-01,00:18:02,1
...,...,...,...,...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-12,13:49:55,12
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN,2020-12-03,13:43:26,12
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-06,07:27:47,12
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN,2020-12-21,13:46:01,12
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN,2020-12-18,09:09:48,12

In [51]:
final.loc[final['month'] == 1, 'month'] = 'January'
final.loc[final['month'] == 2, 'month'] = 'February'
final.loc[final['month'] == 3, 'month'] = 'March'
final.loc[final['month'] == 4, 'month'] = 'April'
final.loc[final['month'] == 5, 'month'] = 'May'
final.loc[final['month'] == 6, 'month'] = 'June'
final.loc[final['month'] == 7, 'month'] = 'July'
final.loc[final['month'] == 8, 'month'] = 'August'
final.loc[final['month'] == 9, 'month'] = 'September'
final.loc[final['month'] == 10, 'month'] = 'October'
final.loc[final['month'] == 11, 'month'] = 'November'
final.loc[final['month'] == 12, 'month'] = 'December'

In [52]:
final['weekday'] = final['Start date'].dt.day_name()
final

,Duration,Start date,End date,Start station,End station,Member type,Bike number,date,time,month,weekday
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886,2018-01-01,00:05:06,January,Monday
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435,2018-01-01,00:14:30,January,Monday
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242,2018-01-01,00:14:53,January,Monday
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322,2018-01-01,00:15:31,January,Monday
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119,2018-01-01,00:18:02,January,Monday
...,...,...,...,...,...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-12,13:49:55,December,Saturday
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN,2020-12-03,13:43:26,December,Thursday
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-06,07:27:47,December,Sunday
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN,2020-12-21,13:46:01,December,Monday
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN,2020-12-18,09:09:48,December,Friday

In [53]:
final[['hour','minutes','second']] = final['time'].astype(str).str.split(':', expand=True).astype(int)
final

,Duration,Start date,End date,Start station,End station,Member type,Bike number,date,time,month,weekday,hour,minutes,second
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886,2018-01-01,00:05:06,January,Monday,0,5,6
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435,2018-01-01,00:14:30,January,Monday,0,14,30
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242,2018-01-01,00:14:53,January,Monday,0,14,53
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322,2018-01-01,00:15:31,January,Monday,0,15,31
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119,2018-01-01,00:18:02,January,Monday,0,18,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-12,13:49:55,December,Saturday,13,49,55
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN,2020-12-03,13:43:26,December,Thursday,13,43,26
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-06,07:27:47,December,Sunday,7,27,47
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN,2020-12-21,13:46:01,December,Monday,13,46,1
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN,2020-12-18,09:09:48,December,Friday,9,9,48

In [54]:
dr = pd.date_range(start='2018-01-01', end='2020-12-31')
# final = pd.DataFrame()
# final['date'] = dr

cal = calendar()
holidays = cal.holidays(start=dr.min(), end=dr.max())

final['Holiday'] = final['date'].isin(holidays)

In [56]:
final.loc[final['Holiday'] == False, 'holiday'] = 'No'

final.loc[final['Holiday'] == True, 'holiday'] = 'Yes'
final

,Duration,Start date,End date,Start station,End station,Member type,Bike number,date,time,month,weekday,hour,minutes,second,Holiday,holiday
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886,2018-01-01,00:05:06,January,Monday,0,5,6,False,No
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435,2018-01-01,00:14:30,January,Monday,0,14,30,False,No
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242,2018-01-01,00:14:53,January,Monday,0,14,53,False,No
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322,2018-01-01,00:15:31,January,Monday,0,15,31,False,No
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119,2018-01-01,00:18:02,January,Monday,0,18,2,False,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-12,13:49:55,December,Saturday,13,49,55,False,No
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN,2020-12-03,13:43:26,December,Thursday,13,43,26,False,No
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-06,07:27:47,December,Sunday,7,27,47,False,No
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN,2020-12-21,13:46:01,December,Monday,13,46,1,False,No
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN,2020-12-18,09:09:48,December,Friday,9,9,48,False,No

In [57]:
final.drop(columns=['minutes', 'second','Holiday' ], inplace= True)

In [58]:
final

,Duration,Start date,End date,Start station,End station,Member type,Bike number,date,time,month,weekday,hour,holiday
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886,2018-01-01,00:05:06,January,Monday,0,No
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435,2018-01-01,00:14:30,January,Monday,0,No
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242,2018-01-01,00:14:53,January,Monday,0,No
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322,2018-01-01,00:15:31,January,Monday,0,No
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119,2018-01-01,00:18:02,January,Monday,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-12,13:49:55,December,Saturday,13,No
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN,2020-12-03,13:43:26,December,Thursday,13,No
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-06,07:27:47,December,Sunday,7,No
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN,2020-12-21,13:46:01,December,Monday,13,No
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN,2020-12-18,09:09:48,December,Friday,9,No

In [59]:
final.rename(columns= {'Member type': 'Member Type', 'date': 'Date','time': 'Time', 'month': 'Month', 'weekday':'Weekday', 'hour': 'Hour', 'holiday': 'Holiday'},inplace=True)

In [61]:
final

,Duration,Start date,End date,Start station,End station,Member Type,Bike number,Date,Time,Month,Weekday,Hour,Holiday
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886,2018-01-01,00:05:06,January,Monday,0,No
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435,2018-01-01,00:14:30,January,Monday,0,No
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242,2018-01-01,00:14:53,January,Monday,0,No
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322,2018-01-01,00:15:31,January,Monday,0,No
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119,2018-01-01,00:18:02,January,Monday,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
105824,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-12,13:49:55,December,Saturday,13,No
105825,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN,2020-12-03,13:43:26,December,Thursday,13,No
105826,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-06,07:27:47,December,Sunday,7,No
105827,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN,2020-12-21,13:46:01,December,Monday,13,No
105828,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN,2020-12-18,09:09:48,December,Friday,9,No

In [62]:
final =final.reset_index(drop= True)

In [63]:
final

,Duration,Start date,End date,Start station,End station,Member Type,Bike number,Date,Time,Month,Weekday,Hour,Holiday
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886,2018-01-01,00:05:06,January,Monday,0,No
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435,2018-01-01,00:14:30,January,Monday,0,No
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242,2018-01-01,00:14:53,January,Monday,0,No
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322,2018-01-01,00:15:31,January,Monday,0,No
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119,2018-01-01,00:18:02,January,Monday,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9157798,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-12,13:49:55,December,Saturday,13,No
9157799,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN,2020-12-03,13:43:26,December,Thursday,13,No
9157800,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-06,07:27:47,December,Sunday,7,No
9157801,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN,2020-12-21,13:46:01,December,Monday,13,No
9157802,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN,2020-12-18,09:09:48,December,Friday,9,No

In [64]:
final['Year'] = final['Start date'].dt.year

In [65]:
final

,Duration,Start date,End date,Start station,End station,Member Type,Bike number,Date,Time,Month,Weekday,Hour,Holiday,Year
0,552.0,2018-01-01 00:05:06,2018-01-01 00:14:18,Adams Mill & Columbia Rd NW,Georgia & New Hampshire Ave NW,Member,W00886,2018-01-01,00:05:06,January,Monday,0,No,2018
1,1282.0,2018-01-01 00:14:30,2018-01-01 00:35:53,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W01435,2018-01-01,00:14:30,January,Monday,0,No,2018
2,1265.0,2018-01-01 00:14:53,2018-01-01 00:35:58,15th St & Constitution Ave NW,15th St & Constitution Ave NW,Casual,W21242,2018-01-01,00:14:53,January,Monday,0,No,2018
3,578.0,2018-01-01 00:15:31,2018-01-01 00:25:09,14th & Upshur St NW,16th & Harvard St NW,Casual,W21322,2018-01-01,00:15:31,January,Monday,0,No,2018
4,372.0,2018-01-01 00:18:02,2018-01-01 00:24:15,4th & East Capitol St NE,Lincoln Park / 13th & East Capitol St NE,Member,W00119,2018-01-01,00:18:02,January,Monday,0,No,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9157798,1627.0,2020-12-12 13:49:55,2020-12-12 14:17:02,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-12,13:49:55,December,Saturday,13,No,2020
9157799,1365.0,2020-12-03 13:43:26,2020-12-03 14:06:11,Jefferson Dr & 14th St SW,4th St & Madison Dr NW,casual,NaN,2020-12-03,13:43:26,December,Thursday,13,No,2020
9157800,2159.0,2020-12-06 07:27:47,2020-12-06 08:03:46,Jefferson Dr & 14th St SW,19th St & Constitution Ave NW,casual,NaN,2020-12-06,07:27:47,December,Sunday,7,No,2020
9157801,2458.0,2020-12-21 13:46:01,2020-12-21 14:26:59,Jefferson Dr & 14th St SW,17th & G St NW,casual,NaN,2020-12-21,13:46:01,December,Monday,13,No,2020
9157802,846.0,2020-12-18 09:09:48,2020-12-18 09:23:54,New Hampshire Ave & 24th St NW,4th St & Madison Dr NW,member,NaN,2020-12-18,09:09:48,December,Friday,9,No,2020

In [66]:
g1 = final.groupby(['Date','Month','Hour','Holiday', 'Weekday', 'Member Type']).size()
g1

Date        Month     Hour  Holiday  Weekday   Member Type
2018-01-01  January   0     No       Monday    Casual          6
                                               Member         28
                      1     No       Monday    Casual         11
                                               Member         38
                      2     No       Monday    Casual          7
                                                              ..
2020-12-31  December  21    No       Thursday  member         29
                      22    No       Thursday  casual         25
                                               member         31
                      23    No       Thursday  casual         32
                                               member         21
Length: 50894, dtype: int64

In [68]:
g2 = g1.reset_index()
g2

             Date     Month  Hour Holiday   Weekday Member Type   0
0      2018-01-01   January     0      No    Monday      Casual   6
1      2018-01-01   January     0      No    Monday      Member  28
2      2018-01-01   January     1      No    Monday      Casual  11
3      2018-01-01   January     1      No    Monday      Member  38
4      2018-01-01   January     2      No    Monday      Casual   7
...           ...       ...   ...     ...       ...         ...  ..
50889  2020-12-31  December    21      No  Thursday      member  29
50890  2020-12-31  December    22      No  Thursday      casual  25
50891  2020-12-31  December    22      No  Thursday      member  31
50892  2020-12-31  December    23      No  Thursday      casual  32
50893  2020-12-31  December    23      No  Thursday      member  21

[50894 rows x 7 columns]

In [69]:
g2.columns = [ 'date','month','hour','holiday','weekday','Member type','count']
g2

             date     month  hour holiday   weekday Member type  count
0      2018-01-01   January     0      No    Monday      Casual      6
1      2018-01-01   January     0      No    Monday      Member     28
2      2018-01-01   January     1      No    Monday      Casual     11
3      2018-01-01   January     1      No    Monday      Member     38
4      2018-01-01   January     2      No    Monday      Casual      7
...           ...       ...   ...     ...       ...         ...    ...
50889  2020-12-31  December    21      No  Thursday      member     29
50890  2020-12-31  December    22      No  Thursday      casual     25
50891  2020-12-31  December    22      No  Thursday      member     31
50892  2020-12-31  December    23      No  Thursday      casual     32
50893  2020-12-31  December    23      No  Thursday      member     21

[50894 rows x 7 columns]

In [70]:
# g2.to_csv(r'C:\Users\anupd\OneDrive\Desktop\capital-bike-share\final_18_19_20.csv')