In [1]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor

import pandas as pd
import numpy as np

import pickle

In [2]:
## read the file

df=pd.read_csv('newdata1.csv')
df

,Unnamed: 0,date,month,hour,holiday,weekday,Member type,count
0,0,2018-01-01,January,0,No,Monday,Casual,6
1,1,2018-01-01,January,0,No,Monday,Member,28
2,2,2018-01-01,January,1,No,Monday,Casual,11
3,3,2018-01-01,January,1,No,Monday,Member,38
4,4,2018-01-01,January,2,No,Monday,Casual,7
...,...,...,...,...,...,...,...,...
33905,33905,2019-12-31,December,21,No,Tuesday,Member,101
33906,33906,2019-12-31,December,22,No,Tuesday,Casual,9
33907,33907,2019-12-31,December,22,No,Tuesday,Member,71
33908,33908,2019-12-31,December,23,No,Tuesday,Casual,24
33909,33909,2019-12-31,December,23,No,Tuesday,Member,83

In [3]:
df = df[['hour','month','holiday', 'weekday','Member type','count']]
df

       hour     month holiday  weekday Member type  count
0         0   January      No   Monday      Casual      6
1         0   January      No   Monday      Member     28
2         1   January      No   Monday      Casual     11
3         1   January      No   Monday      Member     38
4         2   January      No   Monday      Casual      7
...     ...       ...     ...      ...         ...    ...
33905    21  December      No  Tuesday      Member    101
33906    22  December      No  Tuesday      Casual      9
33907    22  December      No  Tuesday      Member     71
33908    23  December      No  Tuesday      Casual     24
33909    23  December      No  Tuesday      Member     83

[33910 rows x 6 columns]

In [4]:
df.columns = [ 'hour','month','holiday','weekday','Member_type','count']
df

       hour     month holiday  weekday Member_type  count
0         0   January      No   Monday      Casual      6
1         0   January      No   Monday      Member     28
2         1   January      No   Monday      Casual     11
3         1   January      No   Monday      Member     38
4         2   January      No   Monday      Casual      7
...     ...       ...     ...      ...         ...    ...
33905    21  December      No  Tuesday      Member    101
33906    22  December      No  Tuesday      Casual      9
33907    22  December      No  Tuesday      Member     71
33908    23  December      No  Tuesday      Casual     24
33909    23  December      No  Tuesday      Member     83

[33910 rows x 6 columns]

In [5]:
df.holiday = df.holiday.astype('category')
df.weekday = df.weekday.astype('category')
df.month = df.month.astype('category')
df.Member_type = df.Member_type.astype('category')

In [6]:
df.dtypes

hour              int64
month          category
holiday        category
weekday        category
Member_type    category
count             int64
dtype: object

In [7]:
## modelling

df = pd.get_dummies(df)
df

,hour,count,month_April,month_August,month_December,month_February,month_January,month_July,month_June,month_March,...,holiday_Yes,weekday_Friday,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,Member_type_Casual,Member_type_Member
0,0,6,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,0,28,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,1,11,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,1,38,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,2,7,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33905,21,101,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
33906,22,9,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
33907,22,71,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
33908,23,24,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
33909,23,83,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [8]:
df.dtypes

hour                  int64
count                 int64
month_April           uint8
month_August          uint8
month_December        uint8
month_February        uint8
month_January         uint8
month_July            uint8
month_June            uint8
month_March           uint8
month_May             uint8
month_November        uint8
month_October         uint8
month_September       uint8
holiday_No            uint8
holiday_Yes           uint8
weekday_Friday        uint8
weekday_Monday        uint8
weekday_Saturday      uint8
weekday_Sunday        uint8
weekday_Thursday      uint8
weekday_Tuesday       uint8
weekday_Wednesday     uint8
Member_type_Casual    uint8
Member_type_Member    uint8
dtype: object

In [9]:
## modelling

x = df.drop(columns = ['count'])
y = df['count']

In [10]:
ada = AdaBoostRegressor()

In [11]:
ada.fit(x,y)

AdaBoostRegressor()

In [12]:
pickle.dump(ada, open('model.pkl','wb'))